form {
  .star-rating.mutable {
    margin: 8px 0 0 0;
  }
}

#rating_dimension {
  width: 49%;
}

#rating_rater {
  width: 49%;
}

.ratings-list {
  & > li {
    & + li {
      border-top: 1px solid $hr-border;
      padding-top: $line-height-computed;
      margin-top: $line-height-computed;
    }
  }

  time {
    font-size: 12px;
    font-weight: 300;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .replies-list {
    margin-top: ($line-height-computed / 2);

    .reply {
      padding: ($line-height-computed / 2);
      background-color: #eee;

      .close {
        margin-top: -3px;
        margin-left: ($line-height-computed / 2);
      }

      .reply-time {
        margin-left: ($line-height-computed / 2);
        line-height: $line-height-computed;
      }

      & + .reply {
        margin-top: ($line-height-computed / 2);
      }
    }
  }
}

.rating-footer {
  a {
    &, &:visited, &:active {
      color: $gray-light;
    }

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.reply-form {
  margin-top: ($line-height-computed / 2);
}

ul.star-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;

  li {
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;

    &.mutable {
      cursor: pointer;
    }

    .star {
      background: url('../images/star-off.png') no-repeat center center;
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;
      width: 16px;
      height: 16px;
    }

    &.filled {
      .star {
        background-image: url('../images/star-on.png');
      }
    }

    &.half {
      .star {
        background-image: url('../images/star-half.png');
      }
    }
  }
}
