<div class="header clearfix">
  <h3 class="text-muted pull-left">evaluat<strong>jon</strong></h3>
  <ul class="list-inline pull-right">
    <li>Average:</li>
    <li><div class="star-rating" star-rating rating-value="statistics.average" data-max="10"></div></li>
  </ul>
</div>

<ul class="list-unstyled ratings-list">
  <li class="clearfix">
    <form ng-submit="create_rating()" class="rating-form">
      <div class="alert alert-danger" ng-show="new_rating.error_messages.length > 0">
        <button type="button" class="close" ng-click="new_rating.error_messages = []"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <ul class="rating-errors list-unstyled">
          <li ng-repeat="message in new_rating.error_messages">
            {{message}}
          </li>
        </ul>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <div class="star-rating" star-rater rating-value="new_rating.stars" data-max="10" on-rating-selected="set_new_rating_stars(rating)"></div>
          </div>
          <input type="text" ng-model="new_rating.dimension" class="form-control" placeholder="What trait are you rating?">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group multi">
          <input type="text" ng-model="new_rating.rater" class="form-control" placeholder="Your name">
          <input type="text" class="form-control" ng-model="new_rating.comment" placeholder="Comment">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Rate Jon</button>
          </span>
        </div>
      </div>
    </form>
  </li>
  <li ng-repeat="rating in ratings" class="clearfix">
    <div class="star-rating pull-right" star-rating rating-value="rating.stars" data-max="10"></div>
    <strong>{{rating.dimension}}</strong> -
    <em>{{rating.rater}}</em>
    <p class="help-block">{{rating.comment}}</p>
    <footer class="rating-footer">
      <div class="clearfix">
        <ul class="list-inline pull-left">
          <li>
            <time am-time-ago="rating.created_at" title="{{rating.created_at}}"></time>
          </li>
          <li ng-show="auth_status.logged_in">
            <a ng-click="toggle.show_reply_form[rating.id] = !toggle.show_reply_form[rating.id]" data-toggle="tooltip" title="Respond" data-placement="right">
              <span class="glyphicon glyphicon-comment"></span>
            </a>
          </li>
        </ul>
        <ul class="list-inline pull-right">
          <li ng-show="auth_status.logged_in">
            <a ng-click="delete_rating(rating)" title="Delete rating" data-toggle="tooltip" data-placement="left">&times;</a>
          </li>
        </ul>
      </div>
      <ul class="list-unstyled replies-list" ng-show="rating.replies.length > 0">
        <li class="reply clearfix" ng-repeat="reply in rating.replies">
          <button type="button" data-toggle="tooltip" title="Delete reply" data-placement="left" ng-show="auth_status.logged_in" class="close" ng-click="delete_reply(rating, reply)"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
          <time class="reply-time pull-right" am-time-ago="reply.created_at" title="{{reply.created_at}}"></time>
          <span class="reply-message">{{reply.message}}</span>
          <span class="separator">
            &mdash;
            <span class="glyphicon glyphicon-heart"></span>
          </span>
          <span class="reply-user">Jon</span>
        </li>
      </ul>
      <form ng-show="toggle.show_reply_form[rating.id]" ng-submit="create_reply(rating)" class="reply-form">
        <div class="alert alert-danger" ng-show="new_reply.error_messages.length > 0">
          <button type="button" class="close" ng-click="new_reply.error_messages = []"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <ul class="reply-errors list-unstyled">
            <li ng-repeat="message in new_reply.error_messages">
              {{message}}
            </li>
          </ul>
        </div>
        <div class="input-group">
          <input type="text" ng-model="new_reply.message" class="form-control">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Reply</button>
          </span>
        </div>
      </form>
    </footer>
  </li>
</ul>

<hr>

<p ng-show="auth_status.logged_in">
  You are signed in as <strong>{{auth_status.user.email}}</strong>.
</p>

<form class="form-inline login-form" ng-submit="login()" ng-hide="auth_status.logged_in">
  <label for="user_email" class="sr-only">Email address:</label>
  <input type="text" placeholder="Email" class="form-control" id="user_email" ng-model="credentials.email">
  <label for="user_password" class="sr-only">Password:</label>
  <input type="password" placeholder="Password" class="form-control" id="user_password" ng-model="credentials.password">
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
